.settings-menu-container {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
  background-color: rgb(0, 0, 0, 0.5);
}

.settings-menu {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: absolute;
  top: 190px;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 110px;
  width: 300px;
  padding: 15px;
  background-color: #f5f5f5;
  color: #333;
  border-radius: 5px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

.title {
  border-bottom: 1px solid #ccc;
}

.close {
  position: absolute;
  right: 20px;
  top: 15px;
  font-size: 1.5em;
  cursor: pointer;
}

.close:hover {
  color: #7a7a7a;
}

.setting-subtitle {
  font-size: 1.1em;
}

.time-settings, .sound-settings, .interval-settings, .sound-options {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.time-fields {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5px;
}

.time-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.time-form input {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 16px;
}

.interval-form input {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 16px;
}

.reset-button {
  padding: 5px;
  border: 1px solid #ccc;
  background-color: #ffffff;
  border-radius: 5px;
  font-size: 1em;
  cursor: pointer;
}

.reset-button:hover {
  background-color: #f3f3f3;
}

.reset-button:active {
  background-color: #e6e6e6;
}

.sound-form, .interval-form {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sound-form {
  min-height: 25px;
}

.volume-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
}

#sound-volume {
  width: 100px;
  cursor: pointer;
}

#alert-sound {
  padding: 3px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 16px;
  cursor: pointer;
}

#button-sound {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.github-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.github-link {
  color: #333;
  text-decoration: none;
  font-size: 1.5em;
}