<div *ngIf="showSettingsMenu" class="settings-menu-container" (mousedown)="toggleSettingsMenu()">
  <div class="settings-menu" (mousedown)="$event.stopPropagation()">
    <h2 class="title">Settings</h2>
    <div class="close" (click)="toggleSettingsMenu()"><i class="fa-solid fa-xmark"></i></div>
    <div class="time-settings">
      <h3 class="setting-subtitle">Time (in minutes)</h3>
      <div class="time-fields">
        <div class="time-form">
          <label for="focus-mins">Focus</label>
          <input id="focus-mins" type="number" [(ngModel)]="focusTime" (ngModelChange)="updateTimes($event, 'focus')"
            min="1" max="999" (keydown)="inputValidation($event)">
        </div>
        <div class="time-form">
          <label for="break-mins">Break</label>
          <input id="break-mins" type="number" [(ngModel)]="breakTime" (ngModelChange)="updateTimes($event, 'break')"
            min="1" max="999" (keydown)="inputValidation($event)">
        </div>
        <div class="time-form">
          <label for="long-break-mins">Long Break</label>
          <input id="long-break-mins" type="number" [(ngModel)]="longBreakTime"
            (ngModelChange)="updateTimes($event, 'longBreak')" min="1" max="999" (keydown)="inputValidation($event)">
        </div>
      </div>
      <button class="reset-button" (click)="resetTimes()">Reset Times</button>
    </div>
    <div class="interval-settings">
      <h3 class="setting-subtitle">Intervals</h3>
      <div class="interval-options">
        <div class="interval-form">
          <label for="interval-count">Interval Count</label>
          <input id="interval-count" type="number" [(ngModel)]="intervalCount"
            (ngModelChange)="updateIntervalCount($event)" min="1" max="20" (keydown)="inputValidation($event)">
        </div>
      </div>
    </div>
    <div class="sound-settings">
      <h3 class="setting-subtitle">Sound</h3>
      <div class="sound-options">
        <div class="sound-form">
          <label for="alert-sound">Alert Sound</label>
          <select id="alert-sound" [(ngModel)]="selectedSound" (change)="updateSound($event)">
            <option *ngFor="let sound of soundList" [value]="sound">{{sound}}</option>
          </select>
        </div>
        <div class="sound-form">
          <label for="button-sound">Button Sound</label>
          <input type="checkbox" name="button-sound" id="button-sound" [(ngModel)]="buttonSound"
            (click)="updateButtonSound($event)">
        </div>
        <div class="sound-form volume-form">
          <label for="sound-volume">Sound Volume</label>
          <div class="volume-container">
            <span class="volume">{{(volume*100).toFixed(0)}}</span>
            <input id="sound-volume" type="range" min="0" max="1" step="0.01" [(ngModel)]="volume"
              (ngModelChange)="updateVolume($event)">
          </div>
          </div>
      </div>
    </div>
    <div class="github-container">
      <a href="https://github.com/robsassack/productivity-timer">
        <i class="fa-brands fa-github github-link"></i>
      </a>
    </div>
  </div>
</div>